/**
 * Blocks
 * All the blocks styling.
 * A block can contain other blocks or objects and does not have to relay on his ancestors
 * to be properly displayed.
 */
@import "footer",
		"header",
		"nav",
		's-interactive-demo';
