.list {

}

.list--contributors {
	margin-left: -5px;
	margin-right: -5px;

	.list__item {
		display: inline-block;
		margin:0 5px;

		a {
			border-radius: 50%;
			overflow:hidden;
			width: s-rem(36px);
			height: s-rem(36px);
			border: 1px solid s-color(primary);
			display:block;
		}

		img {
			@include s-fit;
		}
	}
}
