/**
 * Navigation styling
 */
.nav {

}

/**
 * @name 	Nav justified
 */
// @include s-component('nav') {
// 	@include s-nav-justify-classes-bare();
// 	@include s-nav-inline-classes-bare();
// }
.nav {

	.nav__item {
		display: inline-block;
	}
}


/**
 * Header nav
 */
.nav--topbar {
	// @extend .nav--inline;

	.nav__item {

		.nav__link {
			color: white;
			text-decoration: none;
			display: inline-block;
			height:50px;
			padding:18px 15px;
			font-size:13px;

			&:hover {
				background: s-color(secondary, -lighten 10%);
			}
		}
	}

	@include g-state((
		max-width: 800px
	)) {
		.nav__item--about {
			display: none;
		}
	}
	@include g-state((
		max-width: 700px
	)) {
		.nav__item--website {
			display: none;
		}
	}

}
