.cm-s-material {
	background: s-color(secondary) !important;
}
.CodeMirror-gutters {
	background: s-color(secondary, -darken 1%) !important;
}
s-codemirror {
	height:100%;
}

.s-interactive-demo__preview-container {
	height: 100% !important;
}
.s-interactive-demo__preview-container iframe {
	height: 100% !important;
}
.s-interactive-demo__preview {
	height: 100%;
}
